body {
    background-color: white;

}

body > main {
    display: inline-block;
    width: 800px;

}

header {
    display: inline-block;
    width: 800px;;
}

header > img {
    height: 50px;
    float:left;

}

header > nav {
float: right;
margin-top: 6px;
}

nav > a {
float: right;
font: size 20px;
color: black;
text-decoration: none;
padding: 10px;
}
